@mixin before_circle {
	&:before {
		content: '';
		position: absolute;
      isolation: isolate;
		z-index: -1;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: linear-gradient(145deg, $grad1-main-color, $grad2-main-color);
	}
}

@mixin icon($icon-name, $icon-size) {
	.icon-#{$icon-name} {
		height: $icon-size + px;
		width: $icon-size + px;
		background: url('../icons/social/#{$icon-name}.svg') no-repeat;
	}
}
